<p class="lightbox-title ng-star-inserted"><strong>Grievance Management</strong></p>

<div class="row">
    <div class="bd-example table-responsive view-griev-tbl">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-head-bg-shyan">
                    <tr>
                        <th class="griev-tbl-title" colspan="13">GRIEVANCES</th>
                    </tr>
                    <tr>
                        <th>SR NO </th>
                        <th>GRIEVANCE <br> ID </th>
                        <th>COMPLAINT <br> DATE</th>
                        <th>COMPLAINT <br> NAME</th>
                        <th>IEC <br> NO </th>
                        <th> COMPLAINT<br>CATEGORY </th>
                        <th>COMPLAINT <br> STATUS</th>
                        <th>PENDING <br> LEVEL</th>
                        <th>OFFICER <br>NAME </th>
                        <th> COMMISSIONERATE<br>NAME </th>
                        <th>SECTION <br> NAME</th>
                        <th>RESPONSE <br> CODE</th>
                        <th> PROCESS<br> COMPLAINT</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>110</td>
                        <td>01/01/2023</td>
                        <td>CATEGORY</td>
                        <td>123</td>
                        <td>CATEGORY1</td>
                        <td>PENDING</td>
                        <td>L1</td>
                        <td>Yes</td>
                        <td>EXPORTS</td>
                        <td>Yes</td>
                        <td>SUBCAT</td>
                        <td> <button type="button" class="btn btn-primary btn-submit"
                           >CLICK TO PROCESS
                            </button></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="">
        <button class="btn-submit-form mt-1 mb-1" mat-flat-button color="primary">SUBMIT GRIEVANCE</button>
    </div>
</div>