.view-griev-tbl .table {
    --bs-table-border-color: #101010;
}

.table-head-bg-shyan {
    background-color: #00bcd44f;
}

.view-griev-tbl .griev-tbl-title {
    font-size: 18px;
    text-align: center;
}

.view-griev-tbl th {
    font-size: 12px;
    font-weight: 500;
}

.view-griev-tbl td {
    font-size: 12px;
    font-weight: 400;
}