<div class="container">
  <h2 class="page-hdr">GRIEVANCE REDRESSAL</h2>
  <section class="page-body">
    <nav class="nav-col">
      <mat-sidenav
        fixedInViewport="true"
        fixedTopGap="120"
        fixedBottomGap="0"
        class="side-nav"
        #sidenav
        mode="side"
        opened="true"
      >
        <mat-list>
          <div *ngFor="let section of defaultSections">
            <mat-list-item
              routerLinkActive="active"
              [routerLink]="section.routerLink"
              >{{ section.name }}</mat-list-item
            >
          </div>
        </mat-list>
      </mat-sidenav>
    </nav>
    <section class="main-contain-page">
      <!-- <div class="container"> -->
      <!-- <p class="section-head-txt">Register New Grievance Received Via Phone or Email </p> -->
      <router-outlet></router-outlet>
      <!-- </div> -->
    </section>
  </section>
</div>
