<div class="container">
    <div class="row">
        <h1 class="text-center header-text">WELCOME TO CBIC GRIEVANCE PORTAL
        <span><button type="button" class="btn btn-primary btn-submit pull-right"
            (click)="login()">login</button></span>
        </h1>
    </div>
    
</div>


<div class="container">
    <div class="lightbox">
        <p class="text-center notice-iec"> Issuance of public Notice to IEC Holders to Submit Documentation</p>
        <div class="flex-center flex-sb mt-4  pb-4">
            <div class="col-6">
                <div class="person-pic">
                    <img src="./../../../assets/modi-image.webp" class="img-fluid" alt="Responsive image">
                    <h3><strong>"Desh Sevarth Kar Sanchay” <br>
                            Tax collection in Service of the Nation</strong>
                    </h3>
                    <p><i>Our Motto <br>
                            Central Board of Indirect Taxes & Customs</i>
                    </p>
                </div>
            </div>
            <div class="col-6">
                <div class="public-notice-sec text-center">
                    <div class="notice-box">
                        <h3>PUBLIC NOTICES </h3>
                        <p><i> MUMBAI CUSTOMS ZONE II <br>
                                <small>JAWAHARLAL NEHRU CUSTOMS HOUSE</small>
                            </i></p>
                    </div>
                    <button type="button" class="btn btn-primary btn-submit"
                        (click)="navigateToSubmissionForm()">GRIEVANCE
                        SUBMISSION</button>
                    <a href="javascript:void(0)" class="clickBtn"> click Here</a>
                </div>

            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-6">
                <div class="img-width"><img src="./../../../assets/modi-image.png" class="img-fluid"
                        alt="Responsive image">
                </div>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-submit" (click)="navigateToSubmissionForm()">GRIEVANCE
                    SUBMISSION</button>
            </div>
        </div> -->
    </div>
</div>