// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$grievance-primary: mat-palette($mat-indigo);
$grievance-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$grievance-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$grievance-theme: mat-light-theme($grievance-primary,
    $grievance-accent,
    $grievance-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($grievance-theme);

/* You can add global styles to this file, and also import other style files */
@import "./assets/variable.scss";

/*Custom input css*/
.flex-element {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-sb {
  justify-content: space-between;
}

.flex-sa {
  justify-content: space-around;
}

.flex-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

/*Custom input css*/


strong {
  font-weight: 500;
}

/*Custom input css*/
.header-img {
  height: 120px;
}

.header-img img {
  height: 100%;
  width: 100%;
}

.lightbox {
  padding: 0px 20px;
  background-color: rgb(45 174 61 / 13%);
  min-height: 400px;
  position: relative;
}

.lightbox-title {
  font-size: 16px;
  padding: 10px 0;
  margin: 0 0 10px 0;
}

.section-head-txt {
  font-size: 20px;
  padding: 15px 0;
  margin: 0 0 10px 0;
  font-weight: 500;
}



.btn-submit {
  border-radius: 20px !important;
  border-color: transparent !important;
  background: $orange !important;
  height: 48px !important;
  color: $black !important;
}

.header-text {
  font-family: $gothamNarrowMedium;
  color: $textBlue;
  font-weight: 700;
  font-size: 30px;
  padding: 10px 0;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $blue;
  opacity: 1;
  /* Firefox */
  text-align: center;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.page-body {
  width: 100%;
  display: inline-flex;
  background-color: rgba(45, 174, 61, 0.13);
  position: relative;
  height: 75vh;
}

.page-hdr {
  font-family: "Gotham Narrow Medium", Arial, Helvetica, sans-serif;
  color: #255789;
  font-weight: 700;
  font-size: 30px;
  padding: 10px 0;
  text-align: center;
}

.nav-col {
  // width: 220px;
  background-color: #08325b;
  position: fixed;
  z-index: 2;
  width: 260px;
  height: 100%;
  // background: #fff;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);

}

.mat-list-base .mat-list-item {
  color: #fff;
}

.main-contain-page {
  width: calc(100% - 220px);
  padding: 0 1.5rem;
  overflow-y: scroll;
  margin-left: 26%;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar {
	width: 6px;
  background-color: lightblue;
  height: 4px;              /* height of horizontal scrollbar ← You're missing this */             /* width of vertical scrollbar */
  border: 1px solid #d5d5d5;

	// background-color: #F5F5F5;
}


.form-field {
  width: 11.5rem;
}

.btn-submit-form {
  float: right;
  border: 1px solid #255789 !important;
  border-radius: 5px !important;
  margin: 0 0 20px 0 !important;
}