<div class="container">
  <div class="row">
    <h1  *ngIf="!isShow"class="text-center header-text">GRIEVANCE SUBMISSION</h1>
  </div>
</div>

<div class="container" *ngIf="!isSubmit else codeTemplate">
  <app-loader *ngIf="showLoader"></app-loader>
  <div  [ngClass]="isShow?'':'lightbox'">
    <p *ngIf="!isShow"class="lightbox-title"><strong>Please enter the details below to register your grievance</strong>
    </p>
    <p *ngIf="isShow"class="lightbox-title"><strong>Register New Grievance Received Via Phone or Email</strong>
    </p>
    
   
    <form [formGroup]="grivanceForm" (ngSubmit)="submitForm()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row">
            <label class="col-md-4 col-form-label">Complainant Name*</label>
            <div class="col-md-8 align-items-center d-flex">
              <mat-form-field class="form-field">
                <input matInput formControlName="cName" [maxLength]="150" autocomplete="off" name="cName"
                  placeholder="Enter" />
                <mat-error *ngIf=" grivanceForm.get('cName').errors?.required">
                  <span>Invalid Entry</span>
                </mat-error>
              </mat-form-field>
              <!-- *ngIf="saveCriteriaForm.get('searchName').errors?.maxlength"  -->
            </div>
          </div>
          <!-- IEC Number -->
          <div class="form-group row">
            <label class="col-md-4 col-form-label">Complainant IEC Number</label>
            <div class="col-md-8 align-items-center d-flex">
              <mat-form-field class="form-field">
                <input matInput type="number" formControlName="iecNumber" [maxLength]="150" autocomplete="off"
                  name="cName" placeholder="Enter" />
              </mat-form-field>
            </div>
          </div>
          <!-- company Name -->
          <div class="form-group row">
            <label class="col-md-4 col-form-label">Complainant Company Name</label>
            <div class="col-md-8 align-items-center d-flex">
              <mat-form-field class="form-field">
                <input matInput formControlName="companyName" [maxLength]="150" autocomplete="off" name="cName"
                  placeholder="Enter" />
              </mat-form-field>
            </div>
          </div>
          <!-- Email Field -->
          <div class="form-group row">
            <label class="col-md-4 col-form-label">Complainant Email*</label>
            <div class="col-md-8 align-items-center d-flex">
              <mat-form-field class="form-field">
                <input matInput type="email" formControlName="email" [maxLength]="150" autocomplete="off" name="email"
                  placeholder="Enter" />
                <mat-error *ngIf="grivanceForm.get('email').errors?.required">
                  <span>Invalid Entry</span>
                </mat-error>
                <mat-error *ngIf="grivanceForm.get('email').errors?.email">
                  <span>Invalid Entry</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- Mobile Field -->
          <div class="form-group row">
            <label class="col-md-4 col-form-label">Complainant Mobile*</label>
            <div class="col-md-8 align-items-center d-flex">
              <mat-form-field class="form-field">
                <input matInput type="tel" formControlName="mobileNumber" [minLength]="10" [maxLength]="10"
                  autocomplete="off" placeholder="Enter 10 digit" name="cName" />
                <mat-error *ngIf="grivanceForm.get('mobileNumber').errors?.required">
                  <span>Invalid Entry</span>
                </mat-error>
                <mat-error *ngIf="grivanceForm.get('mobileNumber').errors?.pattern">
                  <span>Invalid Entry</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
           
          <div *ngIf="isShow"  class="form-group row">
            <label class="col-md-4 col-form-label">Grievance Category*</label>
            <div class="col-md-8 align-items-center d-flex">
              <mat-form-field  class="form-field">
                  <mat-label>Select From Menu</mat-label>
                  <mat-select formControlName="category">
                    <mat-option value="one">Category 1</mat-option>
                    <mat-option value="two">Category 2</mat-option>
                  </mat-select>
              </mat-form-field>
  
              <!-- *ngIf="saveCriteriaForm.get('searchName').errors?.maxlength"  -->
            
            </div>
          </div>
              <div *ngIf="isShow" class="form-group row">
                <label class="col-md-4 col-form-label">Grievance Details*</label>
                <div class="col-md-8 align-items-center d-flex">
                    <mat-form-field appearance="fill">
                        <textarea matInput   formControlName="details"></textarea>
                      </mat-form-field>
                </div>
              </div>
              <div  *ngIf="isShow"class="form-group row">
                <label class="col-md-4 col-form-label">Upload Document</label>
                
                <ng-container formArrayName="docs">
                  <div  class=" col-md-8 align-items-center d-flex">
                  <ul>
                        <ng-container *ngFor="let doc of docs.controls; let i = index">
                          <li [formGroupName]="i" >
                           
                        
                              <input
                                type="file"
                                (change)="upload($event, i)"
                                accept=".pdf"
                                class="form-control"
                              />
                            
                           
                          </li>
                        </ng-container>
                      </ul>
                    </div>
                      </ng-container>
              </div>
              <button  *ngIf="isShow" class="btn-submit-form" style="float: left;" mat-flat-button (click)="addDoc()" color="primary">+ Add Entry</button>
          <!-- verification code button -->
          <button class="btn-submit-form mb-1" mat-flat-button color="primary">{{ isShow ? 'SUBMIT GRIEVANCE':'GET VERIFICATION CODE'}}</button>
        </div>
      </div>
    </form>
  </div>
</div>



<ng-template #codeTemplate>
  <div class="container">
    <div class="lightbox">
      <p class="lightbox-title"><strong>Please enter your verification code to submit grievance </strong>
      </p>
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-md-4 col-form-label">Enter Verification Code*</label>
              <div class="col-md-8 align-items-center2 d-flex2">
                <div>
                  <mat-form-field class="form-field">
                    <input matInput [maxLength]="6" [minLength]="6" [formControl]="verficationForm" autocomplete="off"
                      name="cName" placeholder="Enter 6 Digit Code" />
                    <mat-error *ngIf="verficationForm.hasError('required') && !verficationForm.hasError('maxLength')">
                      Invalid Entry
                    </mat-error>
                    <mat-error *ngIf="verficationForm.hasError('minlength')">
                      Invalid Entry
                    </mat-error>
                    <mat-error *ngIf="verficationForm.hasError('required')">
                      Invalid Entry
                    </mat-error>

                  </mat-form-field>
                </div>
                <!-- *ngIf="saveCriteriaForm.get('searchName').errors?.maxlength"  -->
                <button class="btn-submit mt-3" mat-flat-button color="primary">RESEND VERIFICATION CODE</button>
              </div>

            </div>

          </div>

        </div>
        <button class="btn-submit-form bottom-right" mat-flat-button color="primary"
          (click)="redirectToSubmitGrievance()">SUBMIT</button>
      </form>
    </div>
  </div>
  <!-- <span>Please enter your verification code to submit grievance</span> -->

</ng-template>